.backdrop {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #00000070;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    width: 50%;
    min-height: 30%;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text {
    text-align: center;
    font-size: 1rem;
  }
  
  .text a {
    color: #0891b2;
    text-decoration: none;
  }
  